<div class="welcome">
  <div class="row">
    <div class="welcome-message col-sm-8">
      <h1>Let's be <span>mo</span>ved ha<span>ck</span>s!</h1>
      <p>mockはすべてのエンジニアへ向けた技術に関する感動を共有するサービスです。自分がコーディング・勉強をしている時に感動した技術を他のエンジニアと共有しましょう。</p>
    </div>
    <div class="welcome-sign col-sm-4">
      signin とか signup とか
    </div>
  </div>
</div>
<div class="home row">
  <div class="col-sm-2">
    <div class="left-col">
    <a href="/signup">SignUp</a>

    </div>
  </div>
  <div class="col-sm-7">
    <div class="center-col">
      <div class="home-item-header">
        <p>ヘッダー</p>
      </div>
    <a href="/signin">SignIn</a>

    </div>
  </div>

  <div class="col-sm-3">
    <div class="right-col">
    <a href="/">TopPage</a>

    </div>
  </div>
</div>
