<% if !logged_in?%>
  <div class="welcome">
    <div class="row">
      <div class="welcome-message col-sm-8">
        <h1>Let's be <span>mo</span>ved ha<span>ck</span>s!</h1>
        <p>mockはすべてのエンジニアへ向けた技術に関する感動を共有するサービスです。自分がコーディング・勉強をしている時に感動した技術を他のエンジニアと共有しましょう。</p>
      </div>
      <div class="welcome-sign col-sm-4">
        <ul class="nav nav-tabs nav-justified">
          <li class="active"><a href="#top-signin" data-toggle="tab">Sign In</a></li>
          <li><a href="#top-signup" data-toggle="tab">Sign Up</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="top-signin">
            <%= render 'sessions/form'%>
          </div>
          <div class="tab-pane" id="top-signup">
            <%= render 'users/form', user: @user%>
          </div>
        </div>
        

      </div>
    </div>
  </div>
<% end %>
<div class="home row">
  <%if logged_in?%>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  <%end%>
  <div class="left-col col-md-2">
    <a href="/signup">SignUp</a>
  </div>

  <div class="center-col col-md-7">
      <div class="home-item-header">
        <p>ヘッダー</p>
      </div>
      <a href="/signin">SignIn</a>
      <a href="/hacks/new">Make hack</a>
  </div>

  <div class="right-col col-md-3">
    <a href="/">TopPage</a>
  </div>
</div>