<span class="comment-feeling">
  <% case comment.feeling %>
  <% when 0 %>
    <i class="fas fa-crown fa-lg"></i>
  <% when 1 %>
    <i class="far fa-clock fa-lg"></i>
  <% when 2 %>
    <i class="far fa-flag fa-lg"></i>
  <% when 3 %>
    <i class="fas fa-book-dead fa-lg"></i>
  <% when 4 %>
    <i class="fas fa-baby fa-lg"></i>
  <% when 5 %>
    <i class="fas fa-code fa-lg"></i>
  <% end %>
</span>