<div class="comment-feeling">
  <%if comment.feeling == 0%>
    Moving!
  <%elsif comment.feeling == 1%>
    Surprized
  <%elsif comment.feeling == 2%>
    Not so bad
  <%elsif comment.feeling == 3%>
    Too bad
  <%end%>
</div>