<h1 class="new-h1"><span class="new-title">mock</span></h1>
<h2>mockへようこそ！</h2>
<h3>会員登録(無料)をして、感動をシェアしましょう</h3>
<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>

<style>
header, footer{
  display:none;
}
</style>