<% reaction = current_user.reactions.build %>
<% 5.times do |i| %>
  <%= form_with model: reaction, class: "reaction#{i + 1}" do |f| %>
    <%= hidden_field_tag :comment_id, comment.id %>
    <%= hidden_field_tag :evaluation, (i+1) %>
    <%= button_tag class: "btn", type: 'submit', name: nil do %>
          <span>☆</span>
        <% end %>
  <% end %>
<% end %>