<% reaction = current_user.reactions.build %>
<% reaction.comment_id = comment.id%>
<span class="empty-stars">☆ ☆ ☆ ☆ ☆</span>
<span class="evaluation-stars" id="evaluation-stars<%= Reaction.last.id + 1 %>"></span>
<div id="stars<%= Reaction.last.id + 1 %>" style="z-index: 100;">
  <%= render 'reactions/stars', reaction: reaction %>
</div>