<% reaction = current_user.reactions.build %>
<% reaction.comment_id = comment.id%>
<% @reaction_id ||= Reaction.last.id %>
<span class="empty-stars">☆ ☆ ☆ ☆ ☆</span>
<% reaction_id = Reaction.all.blank? ? 1 : @reaction_id += 1 %>
<span class="evaluation-stars" id="evaluation-stars<%= reaction_id %>"></span>
<div id="stars<%= reaction_id %>" style="z-index: 100;">
  <%= render 'reactions/stars', reaction: reaction %>
</div>