<% @user ||= current_user %>
<div class="stats">
  <span>
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </span>
  <span class="followers-stats">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </span>
</div>