@import "bootstrap-sprockets";
@import "bootstrap";


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body{
    background-color: #f6f6f6;
}

input::-webkit-input-placeholder {
  font-size: 10px;
}
input:-moz-placeholder {
  font-size: 10px;
}
input::-moz-placeholder {
  font-size: 10px;
}
input:-ms-input-placeholder {
  font-size: 10px;
}

.navbar{
  background-color: #5FE748;
  li, a{
    color: #fff;
  }
  li > a:hover{
    background-color: inherit;
  }
  .pc-nav > .nav-content:hover{
    text-decoration: underline;
  }
  .sp-nav > .nav-content:hover{
    text-decoration: none;
    color: #3f9200;
  }
}

//caret付きのヘッダーの調整
.nav-category, .dropdown-toggle{
  position: relative;
  padding: 15px 5px;
  cursor: pointer;
  b{
    color: #3f9200;
  }
}
.nav-category:hover, .dropdown-toggle:hover{
  b{
    color: #fff;
  }
}


//Category-modal内のCSS
.modal-title{
  color: #333;
}

.modal-body{
  padding-left: 10px;
  ul{
    display: inline-block;
    width: 50%;
    color: #333;
    padding: 0px;
    .modal-category{
      padding-left: 10px;
      width: 100%;
    }
    li{
      color: inherit;
      padding-left: 20px;
      list-style: none;
    }
  }
}

//Category modal内のborderline
.borderLine{
  border-top: solid 1px #eee;
  padding-top: 5px;
}

.pc-search, .pc-nav{
  display: none !important;
}

.sp-search{
  padding-left: 5px;
  cursor: pointer;
  :hover{
    color: #3f9200;
  }
}


.glyphicon{
  font-size: 1.33333333em;
  vertical-align: -15%;
}

/*
.dropdown-menu{
  border: solid 1px #ccc;
  li{
    color: #555;
    width: 100%;
    padding: 0 5px;
    cursor: pointer;
  }
  li:hover{
    color: #23527c;
    background-color: #eee;
  }
}
*/


//form


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

//footer
footer{
  margin: 0 auto;
  margin-top: 10px;
  width: 90%;
  border-top: solid 1px #555;
  bottom: 0;
  height: 50px;
  .footer-content{
    padding: 0 10px;
  }
  small{
    padding: 15px;
    margin-left: 10px;
  }
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

//bootstrapの補強

.nav{
  height: inherit;
}

.nav > li{
  display: inline-block;
  vertical-align: middle;
}

.nav-title{
  font-weight: 500;
  font-size: 200%;
}

.navbar-nav{
  margin: 0 -15px;
}

.navbar-nav > li > a{
  padding: 15px 5px;
}

//navbarの左右寄せ
.navbar-right{
  display: inline-block;
  vertical-align: middle;
  float: right;
}
.navbar-left{
  display: inline-block;
  vertical-align: middle;
  float: left;
}

//pc-search検索窓のサイズ調整
.form-control{
  padding: 4px 8px;
  height: 30px;
}

.nav-last-content{
  margin-right: 15px;
}

.nav-category{
  margin: auto 0;
  height: 20px;
}
.pc-search > input{
  margin: auto 0;
}

@media (min-width: 768px){
  .container {
    width: 100%;
  }
  .navbar-nav > li{
    float: none;
  }
  .sp-search, .sp-nav{
    display: none !important;
  }
  .pc-search, .pc-nav{
    display: inline-block !important;
  }
  .nav-title{
    font-weight: 500;
    font-size: 300%;
  }
  .navbar-nav > li > a{
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav-category, .dropdown-toggle{
    padding: 15px;
  }
}


//static_pages

.welcome{
  width: 100%;
  padding: 50px 50px 100px 50px;
  margin-top: -20px;
  background-color: #5FE748;
  color: #fff;
  .welcome-message{
    display: inline-block;
    h1{
      letter-spacing: 2px;
    }
    span{
      color: #3f9200;
    }
  }
  .welcome-sign{
    display: inline-block;
  }
}

.home{
  padding: 32px 16px;
  .center-col{
    background-color: #fff;
    .home-item-header{
      padding-top: 16px;
      padding-left: 16px;
      padding-right: 16px;
      border-bottom: solid 1px #e8e8e8;
    }
  }
}
