<footer class="footer">
  <div class="footer-content">  
    <small class="nav navbar-nav navbar-right">
      Copyright ©  <%= link_to 'mock', root_path %> All rights reserved.
    </small>
  </div>
</footer>
