<!DOCTYPE html>
<html>
  <head>
    <title>Mock</title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
